@require 'nib'
global-reset()

$baseFont = 'Neue Helvetica', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
$black = #515151
$main = #0aaaad

sticky()
  position: -webkit-sticky
  position: -moz-sticky
  position: -ms-sticky
  position: -o-sticky
  position: sticky
  top: 0

*
  box-sizing: border-box

html
  width: 100%
  text-size-adjust: 100%

body
  max-width: 950px
  margin: 0 auto
  font-family: $baseFont
  font-size: 1rem
  color: $black
  position: relative

a
  text-decoration: none
  color: $main * 0.9
  &:hover
    color: $main * 0.6
    text-decoration: underline

article
  margin: 3rem 0
  h1
    font-size: 1.6rem
    font-weight: bold
    line-height: 1.4
  h2
    font-size: 1.4rem
    font-weight: bold
    line-height: 1.4
  h3
    font-size: 1rem
    font-weight: bold
    line-height: 1.4
  h4
    font-size: 0.9rem
    font-weight: bold
    line-height: 1.4
  p
    margin: 1rem 0
    line-height: 1.6
    font-size: 0.95rem
    color: $black
  header
    p
      font-size: 1.05rem
  .top-header
    margin-bottom: 2.5rem
  section
    margin: 1.5rem 0

pre
  border: 1px solid #dcdcdc
  padding-top: 1.5rem
  margin: 1rem 0
  line-height: 1.4
  position: relative
  border-radius: 2px
  box-shadow: 0 1px 1px rgba(0,0,0, 0.03)
  &:after
    content: attr(data-filename)
    display: block
    position: absolute
    font-size: 0.8rem
    top: 0
    left: 0
    padding: 0.2rem 0.5rem
    background: whitesmoke
    color: $main
    // font-family: $baseFont
  &[data-filename="fs"]
    &::after
      content: "\f0e8"
      font-family: FontAwesome
      text-rendering: auto
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale
      color: $main * 1.05

code
  overflow: auto
  display: block
  padding: 1rem
  &.hljs
    background: white
    padding: 1rem

pre, code
  font-family: monospace, monospace
  font-size: 0.8rem

.note
  background: #FFFCDC
  border: 1px solid #CC870A
  padding: 0.4rem 0.5rem
  padding-left: 2rem
  display: inline-block
  color: #A25B0B
  border-radius: 2px
  font-size: 0.8rem
  font-weight: 500
  line-height: 1.4
  position: relative
  &::before
    content: "\f071"
    font-family: FontAwesome
    color: #FF7E00
    position: absolute
    left: 0.5rem

.list
  li
    font-size: 0.8rem
    line-height: 1.6
    border-left: 1px solid lightgray
    padding-left: 0.5rem
    margin: 1rem 0

.side-bar
  overflow: hidden
  // margin-top: 1rem
  float: right
  width: 11rem
  margin: 3rem 0
  sticky()
  top: 2rem
  header
    margin-bottom: 1rem
    text-transform: uppercase
    font-size: 0.75rem
  li
    margin: 0.1rem 0
    font-size: 0.8rem
    ul
      margin: 0.1rem 0
      border-left: 1px solid #dcdcdc
      padding-left: 1rem
  a
    line-height: 1.4

.main-content
  width: calc(100% - 15rem)
  :first-child
    margin-top: 0

#header
  overflow: hidden
  margin: 0 2rem
  .logo
    display: inline-block
    font-size: 1.4rem
    padding: 2rem 0
    color: $black
    text-decoration: none
    i.fa
      color: $main
      margin-right: 0.4rem
      font-size: 0.9em
  nav
    float: right
    li
      display: inline-block
      margin-left: 1rem
      padding: 2rem 0
      padding-bottom: 0
      a
        font-size: 0.8rem
        color: #7b7b7b
        text-transform: uppercase
        &:hover
          color: $main
          text-decoration: none

main
  margin: 0 2rem

#footer
  border-top: 1px solid whitesmoke
  padding: 2rem 0
  margin: 0 2rem
  margin-top: 4rem
  .blocks
    overflow: hidden
    width: 37rem
    margin: 0 auto
    & > li
      float: left
      margin-right: 3rem
      width: 7rem
      margin-bottom: 2rem
      &:last-child
        margin-right: 0
  h4
    margin-bottom: 1rem
    font-size: 0.8rem
    text-transform: uppercase
    color: $main
  .items
    & > li
      padding: 0.5rem 0
      font-size: 0.9rem
      a
        color: $black
        &:hover
          color: $main * 0.8
          text-decoration: none
      i.fa
        margin-right: 0.5rem
  .bottom
    clear: both
    text-align: center
    margin-top: 2rem
    font-size: 0.7rem
    // color: $main
    a
      // color: $main * 0.8
    i.fa
      color: $main
      font-size: 0.9em
      margin-right: 0.2rem


@media(max-width: 740px)
  #header
    nav
      margin-top: 1.5rem
      li
        display: block
        padding-top: 0.5rem
  .side-bar
    float: none
    width: auto
    position: static
  .main-content
    width: auto
  #footer
    .blocks
      width: 20rem
    .bottom
      font-size: 0.6rem


@media(max-width: 360px)
  #header
    margin: 0 1rem
    .logo
      padding: 1rem 0
    nav
      margin-top: 0.5rem
  main
    margin: 0 1rem
    & > header
      padding: 4rem 0
      h1
        font-size: 3rem
      h2
        font-size: 1.2rem
  #footer
    margin: 0 1rem
    margin-top: 4rem
    .blocks
      width: 7rem
      margin: 0
      & > li
        margin-right: 0
    .bottom
      font-size: 0.5rem


@require 'index.styl'
