@require 'nib'
global-reset()

$baseFont = 'Neue Helvetica', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
$black = #515151
$main = #6b9cad

sticky()
  position: -webkit-sticky
  position: -moz-sticky
  position: -ms-sticky
  position: -o-sticky
  position: sticky
  top: 0

*
  box-sizing: border-box

html
  width: 100%
  text-size-adjust: 100%

body
  max-width: 950px
  margin: 0 auto
  font-family: $baseFont
  font-size: 1rem
  color: $black
  position: relative

a
  text-decoration: none
  color: $black
  &:hover
    color: $main
    text-decoration: underline

article
  h2
    font-size: 1.5rem
    // font-weight: bold
  p
    margin: 1rem 0
    line-height: 1.6
    font-size: 0.95rem
    color: $black

pre
  overflow: auto
  font-size: 1.1rem
  border: 1px solid #dcdcdc
  padding: 1rem
  padding-top: 2.5rem
  line-height: 1.4
  position: relative
  border-radius: 2px
  font-family: monospace
  &:after
    content: attr(data-filename)
    display: block
    position: absolute
    font-size: 0.8rem
    top: 0
    left: 0
    padding: 0.2rem 0.5rem
    background: whitesmoke
    color: $main

#header
  overflow: hidden
  // border-bottom: 1px solid whitesmoke
  margin: 0 2rem
  .logo
    display: inline-block
    font-size: 1.4rem
    padding: 2rem 0
    i.fa
      color: $main
      margin-right: 0.4rem
      font-size: 1.3rem
  nav
    float: right
    li
      display: inline-block
      margin-left: 1rem
      padding: 2rem 0
      padding-bottom: 0
      a
        font-size: 0.8rem
        color: #7b7b7b
        text-transform: uppercase
        &:hover
          color: $main

main
  margin: 0 2rem
  & > header
    padding: 6rem 0
    text-align: center
    h1
      font-size: 4rem
      line-height: 1.4
      margin-bottom: 0.5rem
    h2
      font-size: 1.6rem
      line-height: 1.3
      color: $main
      // font-family: 'Open Sans', sans-serif
    .cta
      display: inline-block
      margin-top: 4rem
      font-size: 1rem
      padding: 1rem
      border: 1px solid $main
      color: $main
      text-transform: uppercase
      font-weight: 300
      letter-spacing: 0.3rem
      border-radius: 2px
      text-decoration: none
      transition: all 0.3s
      &:hover
        background: $main * 0.8
        color: white
        border: white
      &:active
        background: $main * 0.5

.features
  -webkit-column-width: 15rem
  -webkit-column-gap: 2rem
  -moz-column-width: 15rem
  -moz-column-gap: 2rem
  -ms-column-width: 15rem
  -ms-column-gap: 2rem
  column-width: 15rem
  column-gap: 2rem
  li
    margin: 2rem 0
    &:first-child
      margin-top: 0
  h3
    font-weight: bold
    color: black

#get-started
  // max-width: 39rem
  margin-top: 2rem

#footer
  // background: whitesmoke
  border-top: 1px solid whitesmoke
  padding: 2rem 0
  margin: 0 2rem
  margin-top: 4rem
  .blocks
    overflow: hidden
    width: 37rem
    margin: 0 auto
    & > li
      float: left
      margin-right: 3rem
      width: 7rem
      margin-bottom: 2rem
      &:last-child
        margin-right: 0
  h4
    margin-bottom: 1rem
    font-size: 0.8rem
    text-transform: uppercase
    color: $main
  .items
    & > li
      padding: 0.5rem 0
      font-size: 0.9rem
      color: $black
      a:hover
        color: $main
      i.fa
        margin-right: 0.5rem
  .bottom
    clear: both
    text-align: center
    margin-top: 2rem
    color: $main
    a
      color: $main


@media(max-width: 740px)
  #header
    nav
      margin-top: 1.5rem
      li
        display: block
        padding-top: 0.5rem
  #footer
    .blocks
      width: 20rem


@media(max-width: 360px)
  #header
    margin: 0 1rem
    .logo
      padding: 1rem 0
    nav
      margin-top: 0.5rem
  main
    margin: 0 1rem
    & > header
      padding: 4rem 0
      h1
        font-size: 3rem
      h2
        font-size: 1.2rem
  #footer
    margin: 0 1rem
    .blocks
      width: 7rem
      & > li
        margin-right: 0
